.app {
  margin: 0;
  /* color: #000000f3; */
  width: 95%;
  margin: 0px auto;
  height: 95%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-variant: tabular-nums;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.headerContainer {
  margin-top: 10px;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading span {
  font-size: 24px;
  color: #89d96f;
}

.techvault {
  font-size: 24px;
  color: #89d96f;
  text-decoration: none;
}

.headerLinks a {
  padding-right: 10px;
  text-decoration: none;
  color: black;
}

nav {
  height: 5vh;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinks a {
  padding-right: 10px;
  text-decoration: none;
  color: black;
  opacity: 0.6;
}

.navLinks a:nth-child(1) {
  opacity: 1;
}

.navSearch input[type="text"] {
  width: 450px;
  padding: 6px;
  font-size: 12px;
  background-color: #eee;
  position: relative;
  white-space: wrap;
  /* padding: 5px;
  font-size: 16px;
  font-style: italic;
  width: 450px;
  box-shadow: -1px 0px 6px -2px rgba(0, 0, 0, 0.75); */
}

main {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
}

.left-container {
  text-align: center !important;
  flex: 80%;
  display: block;
  box-sizing: border-box;

}

.left-container .left-tab {
  /* border: 1px solid black; */
  margin-bottom: 15px;
}

.left-container .left-tab:nth-of-type(3) {
  margin-bottom: 0px !important;
}

.right-container {
  flex: 18%;
}

@media (max-width: 800px) {

  .left-container,
  .right-container {
    flex: 100%;
  }
}

/* tags style sheet */

.tagsContainerTopics {
  margin-top: 1em;
  margin-bottom: 1rem;
  width: 100%;
  border: 2px solid #e0e0e0;
  padding: 08px;
}

.tagsContainerCompanies {
  width: 100%;
  border: 2px solid #e0e0e0;
  padding: 08px;
}

.tags-heading h3 {
  font-weight: 400;
  margin-top: 0px;
  font-size: 20px;
  margin-bottom: 3px;
}

.tags-heading h3 span {
  font-size: 21px;
  /* color: rgb(179, 178, 178); */
}

/* .tags-values {
  margin: 5px;
  border-radius: 12px;
  padding: 2px 12px;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
} */

.tags-values div {
  margin: 5px;
  border-radius: 12px;
  padding: 2px 12px;
  display: inline-flex;
  background: rgb(238 238 238);
  height: 24px;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 16 px;
  align-items: center;
}

.tags-counts {
  margin-left: 8px;
  border-radius: 25px;
  background: #3a4251;
  color: #eee;
  padding: 0 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  align-items: center;
}

.search-tags {
  line-height: 1.25;
  padding: 4px;
  margin: 3px 5px;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 32px;
  white-space: wrap;
}

.search-tags-input {
  width: 75%;
  padding: 6px;
  font-size: 12px;
}

/* Homepage blogs css */
.container {
  width: 90%;
}

.flex_box {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 25px 05px 0;
  min-height: 220px;
  /* display: inline-block; */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  transition: background-color .25s, color .25s, box-shadow .25s;
  box-shadow: 0 8px 42px -8px rgb(0 0 0 / 20%);
  border: 1px solid #f0f0f0;
}

.main-tab {
  border: none;
}

.blankContainer {
  height: auto;
  width: 230px;
  background-size: 230px auto;
}

.contentContainer {
  width: 65%;
  position: relative;
  /* display: flex; */
  padding: 5px;
}

.content-heading {
  width: auto;
  display: flex;
  padding: 5px;
}

/* .content-time {
  width: auto;
  display: flex;
  padding: 5px;
  padding-top: 2px
} */

.content-time p {
  font-size: 10px;
  margin: 2px 0px;
  opacity: 0.6;

}

.content-description {
  width: auto;
  display: flex;
  padding: 5px;
}

/* .statsContainer {
  height: 20px;
  width: 20%;
  text-align: center;
  padding: 10px;
} */

.statsContainer {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0px;
  flex-wrap: wrap;
}

.statsContainer div {
  font-size: small;
  padding: 3px 8px;
  margin-right: 15px 0px;
}

/* .statsContainer div:nth-of-type(1) {
  background-color: rgb(101, 201, 241);
} */

.statsContainer div span {
  font-size: medium;
}

/* .statsContainer div:nth-of-type(2) {
  background-color: #f3f578;
}

.statsContainer div:nth-of-type(3) {
  background-color: #8de769;
} */

@media (max-width: 800px) {

  .statsContainer,
  .contentContainer,
  .blankContainer {
    flex: 100%;
  }

  .statsContainer {
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 10px;
  }
}

.main-tab {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content-heading p {
  margin: 5px 0px 2px;
  font-size: 22px;
}



.content-description p {
  font-size: 12px;
  margin: 2px 0px;
}

.content-tags {
  display: flex;
  margin: 8px 0px;
  align-items: flex-start;
  justify-content: flex-start;
}

.content-tags div {
  line-height: 1;
  white-space: wrap;
  justify-content: center;
  align-content: center;
  object-fit: cover;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #D3AA4D;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.95em;
  font-size: 70%;
  padding: 6px 8px;
}

.navLinks {
  margin: 2%;
}

.navLinks button {
  background: none;
  border: 1px black solid;
  padding: 2px 5px;
  margin: 0px 5px;
  font-size: 15px;
  border-radius: 5px;
}

.navLinks select {
  background: none;
  /* border: none; */
  padding: 5px;
  font-size: 15px;
}

.pagination_button {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.Pages-selector-section {
  padding-bottom: 30px;
}

.page-selector {
  text-align: center;
}

/* signup form */
.containerForm {
  border: 2px solid #e0e0e0;
  width: 25%;
  margin: 8% auto;
  padding: 2%;
  border-radius: 5px;
}

.headingSignup {
  display: flex;
  margin: 20px 0;
}

.headingSignupText {
  margin: auto 40px;
}

.signupForm {
  display: flex;
  flex-direction: column;
}

.signupForm input {
  height: 25px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px 0;
  padding: 1%;
}

.submitSignupInput {
  background: none;
  padding: 10px;
}

/* commentPage */
.commentPageContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 5px;
}

.commentPageImage,
.commentPageDetails {
  flex: 20%;
}

.commentPageMiddle {
  flex: 60%;
}

.commentPageDetails {
  display: flex;
}

.commentPageTitle {
  font-size: 28px;
  font-weight: bold;
}

.CommentPageGeneral {
  color: #575656;
}

.CommentPageAbstract,
.CommentPageLink {
  padding: 2%;
}

.CommentPageLink a {
  /* color: black; */
  text-decoration: none;
}

.commentPageImage {
  text-align: center;
}

.CommentPageUsername {
  font-size: 18px;
  font-weight: 400;
  color: blue;
}

.CommentPageComment {
  font-size: 14px;
  padding: 0px 30px;
}

.commentContainer {
  padding: 10px 5px;
  border: 2px solid #e0e0e0;
  margin: 5px 0px;
}

@media (max-width: 800px) {

  .commentPageImage,
  .commentPageDetails {
    flex: 100%;
  }

  .commentPageMiddle {
    flex: 100%;
  }

  .commentPageDetails {
    flex-direction: row;
    margin: 0 auto;
  }

  .commentPageDetails div {
    margin: 0px 10px;
  }
}