.app {
  width: 95%;
  margin: 0px auto;
  height: 95vh;
}

.headerContainer {
  margin-top: 10px;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading span {
  font-size: 24px;
  color: #89d96f;
}

.headerLinks a {
  padding-right: 10px;
  text-decoration: none;
  color: black;
}

nav {
  height: 5vh;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinks a {
  padding-right: 10px;
  text-decoration: none;
  color: black;
  opacity: 0.6;
}

.navLinks a:nth-child(1) {
  opacity: 1;
}

.navSearch input[type="text"] {
  padding: 5px;
  font-size: 16px;
  font-style: italic;
  width: 450px;
  box-shadow: -1px 0px 6px -2px rgba(0, 0, 0, 0.75);
}

main {
  height: 80vh;
  display: flex;
}

.left-container {
  width: 80%;
}

.left-container .left-tab {
  height: 25vh;
  /* border: 1px solid black; */
  margin-bottom: 15px;
}

.left-container .left-tab:nth-of-type(3) {
  margin-bottom: 0px !important;
}

.right-container {
  margin: 0px auto;
  width: 18%;
}

/* tags style sheet */

.tagsContainerTopics {
  margin-top: 1em;
  margin-bottom: 1rem;
  width: 100%;
  border: 2px solid #e0e0e0;
  padding: 08px;
}

.tagsContainerCompanies {
  width: 100%;
  border: 2px solid #e0e0e0;
  padding: 08px;
}

.tags-heading h3 {
  font-weight: 400;
  margin-top: 0px;
  font-size: 20px;
  margin-bottom: 3px;
}

.tags-heading h3 span {
  font-size: 21px;
  /* color: rgb(179, 178, 178); */
}

.tags-values {
  display: flex;
  flex-wrap: wrap;
}

.tags-values div {
  line-height: 1.25;
  white-space: wrap;
  cursor: pointer;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 5px;
  font-size: 12px;
  margin: 3px 5px;
  padding: 4px;
}

.search-tags {
  line-height: 1.25;
  padding: 4px;
  margin: 3px 5px;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 32px;
  white-space: wrap;
}

.search-tags-input {
  width: 75%;
  padding: 6px;
  font-size: 12px;
}

/* Homepage blogs css */
.container {
  width: auto;
}

.flex_box {
  width: auto;
  position: relative;
  display: flex;
  padding: 1%;
  border: 1px solid black;
  margin: 1em;
  border-radius: 10px;
}

.main-tab {
  border: none;
}

.blankContainer {
  width: auto;
  position: relative;
  display: flex;
  padding: 5px;
}

.contentContainer {
  width: 65%;
  position: relative;
  /* display: flex; */
  padding: 5px;
}

.content-heading {
  width: auto;
  display: flex;
  padding: 5px;
}

.content-time {
  width: auto;
  display: flex;
  padding: 5px;
}

.content-description {
  width: auto;
  display: flex;
  padding: 5px;
}

.content-tags {
  width: auto;
  display: flex;
  padding: 5px;
}

.statsContainer {
  height: 20px;
  width: 20%;
  text-align: center;
  padding: 10px;
}

.statsContainer {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0px;
}

.statsContainer div {
  font-size: small;
  padding: 3px 8px;
  margin-right: 15px 0px;
}

.statsContainer div:nth-of-type(1) {
  background-color: rgb(101, 201, 241);
}

.statsContainer div span {
  font-size: medium;
}

.statsContainer div:nth-of-type(2) {
  background-color: #f3f578;
}

.statsContainer div:nth-of-type(3) {
  background-color: #8de769;
}

.main-tab {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content-heading p {
  margin: 5px 0px 2px;
  font-size: 22px;
}

.content-time p {
  font-size: 10px;
  margin: 2px 0px;
  opacity: 0.6;
}

.content-description p {
  font-size: 12px;
  margin: 2px 0px;
}

.content-tags {
  display: flex;
  margin: 8px 0px;
  align-items: flex-start;
  justify-content: flex-start;
}

.content-tags div {
  line-height: 1;
  white-space: wrap;
  justify-content: center;
  align-content: center;
  object-fit: cover;
  margin-right: 5px;
  background-color: #f0ad4e;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.95em;
  font-size: 65%;
  padding: 6px 8px;
}

.navLinks {
  margin: 2%;
}

.navLinks button {
  background: none;
  border: 1px black solid;
  padding: 2px 5px;
  margin: 0px 5px;
  font-size: 15px;
  border-radius: 5px;
}

.navLinks select {
  background: none;
  /* border: none; */
  padding: 5px;
  font-size: 15px;
}

.pagination_button {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

.Pages-selector-section {
  padding-bottom: 30px;
}

.page-selector {
  text-align: center;
}

/* signup form */
.containerForm {
  border: 2px solid #e0e0e0;
  width: 25%;
  margin: 8% auto;
  padding: 2%;
  border-radius: 5px;
}

.headingSignup {
  display: flex;
  margin: 20px 0;
}

.headingSignupText {
  margin: auto 40px;
}

.signupForm {
  display: flex;
  flex-direction: column;
}

.signupForm input {
  height: 25px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px 0;
  padding: 1%;
}

.submitSignupInput {
  background: none;
  padding: 10px;
}